{% extends 'base.html' %}

{% block title %}Music recommender search{% endblock %}

{% block content %}
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Find music recommendations</h1>
        <p class="col-md-8 fs-4">Enter some songs or artists you like, separated by commas.</p>
      </div>
    </div>

    {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
    {% endif %}

    <form action="{{ url_for('search') }}" method="post">
        <div class="mb-3">
            <label for="query" class="form-label">Your favorite songs/artists:</label>
            <input type="text" class="form-control form-control-lg" id="query" name="query" placeholder="e.g., The Beatles, Bohemian Rhapsody, Adele" required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Search songs</button>
    </form>
{% endblock %}